.body {
  background-color: rgb(218, 184, 218);
}

@keyframes anim {
  0% {
    background-color: rgb(162, 231, 226);
  } /*Celeste*/
  25% {
    background-color: rgb(179, 170, 219);
  } /*Lila*/
  50% {
    background-color: rgb(193, 159, 194);
  } /*Rosa*/
  75% {
    background-color: rgb(201, 136, 157);
  } /*Rojo*/
  100% {
    background-color: rgb(87, 177, 171);
  } /*Verde*/
}

.navegador {
  height: 65px;
  width: 100%;
  background-color: rgba(127, 255, 212, 0.671);
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.navegador .botonesDerechos {
  float: right;
}

.navegador .botonesDerechos .dropdown {
  float: right;
  height: 100%;
  margin-left: 5px;
  border-radius: 5px;
}

.header {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  border-radius: 30px;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: rgba(127, 255, 212, 0.315);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.74);
}

.header .fondo {
  height: 400px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.header .perfil {
  position: relative;
  z-index: 2;
  margin-top: -100px;
  height: 200px;
  width: 200px;
  margin-left: 30px;
  border-radius: 100px;
}

.header .detalle {
  padding: 30px;
}

.header .detalle .nombre {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(127, 251, 255);
  text-shadow: 7px 7px 15px rgba(0, 0, 0, 0.74);
}

.header .detalle .descripcion {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.cards-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
}

.cards-wrapper .card {
  margin-bottom: 30px;
  border-radius: 30px;
  background-color: rgba(146, 214, 219, 0.315);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.74);
}

.cards-wrapper .card .card-header {
  color: aquamarine;
  text-shadow: 7px 7px 15px rgba(0, 0, 0, 0.74);
}

.cards-wrapper .card .card-body {
  color: white;
}

.footer {
  height: 65px;
  width: 100%;
  background-color: rgb(162, 209, 205);
}
