.navegador {
  height: 65px;
  width: 100%;
}

.navegador .botonesDerechos {
  float: right;
}

.header {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  border-radius: 30px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.header .fondo {
  height: 400px;
  width: 100%;
  display: block;
}

.header .perfil {
  position: relative;
  z-index: 2;
  margin-top: -100px;
  height: 200px;
  width: 200px;
  margin-left: 30px;
  border-radius: 100px;
}

.header .detalle {
  padding: 30px;
}

.header .detalle .nombre {
}

.header .detalle .descripcion {
}

.cards-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
}

.cards-wrapper .card {
  margin-bottom: 30px;
  border-radius: 30px;
}
