.navegador {
  height: 65px;
  width: 100%;
  background-color: rgba(127, 255, 212, 0.671);
}

.navegador .botonesDerechos {
  float: right;
}

.navegador .botonesDerechos .dropdown {
  float: right;
  height: 100%;
  margin-left: 5px;
  border-radius: 5px;
}

.header {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  border-radius: 30px;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: rgba(127, 255, 212, 0.315);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.74);
}

.header .fondo {
  height: 400px;
  width: 100%;
  display: block;
}

.header .perfil {
  position: relative;
  z-index: 2;
  margin-top: -100px;
  height: 200px;
  width: 200px;
  margin-left: 30px;
  border-radius: 100px;
}

.header .detalle {
  padding: 30px;
}

.header .detalle .nombre {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aquamarine;
}

.header .detalle .descripcion {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.cards-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
}

.cards-wrapper .card {
  margin-bottom: 30px;
  border-radius: 30px;
  background-color: rgba(127, 255, 212, 0.315);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.74);
}

.cards-wrapper .card .card-header {
  color: aquamarine;
}

.cards-wrapper .card .card-body {
  color: white;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}
