.navegador {
  height: 65px;
  width: 100%;
  background-color: rgba(127, 255, 212, 0.671);
}

.navegador .botonesDerechos {
  float: right;
}

.navegador .botonesDerechos .dropdown {
  float: right;
  height: 100%;
  margin-left: 5px;
  border-radius: 5px;
}

.navegador .botonIzquierdo a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.formRegister {
  width: 400px;
  background-color: rgba(127, 255, 212, 0.315);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.74);
}

.formRegister h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.formRegister .controls {
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}
