app-banner {
  height: 400px;
  width: 100%;
}

app-perfil {
  margin-left: 30px;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .app-banner {
    height: 300px;
  }
}

@media screen and (max-width: 599px) {
  .app-banner {
    height: 200px;
  }
}
